{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "branches": 0,
  "lines": 0,
  "functions": 0,
  "statements": 0,
  "watermarks": {
    "lines": [
      80,
      95
    ],
    "functions": [
      80,
      95
    ],
    "branches": [
      80,
      95
    ],
    "statements": [
      80,
      95
    ]
  },
  "report-dir": "./coverage",
  "cache": false,
  "source-map": true,
  "produce-source-map": true
}