{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "branches": 0,
  "lines": 0,
  "functions": 0,
  "statements": 0,
  "check-coverage": true,
  "watermarks": {
    "lines": [
      80,
      95
    ],
    "functions": [
      80,
      95
    ],
    "branches": [
      80,
      95
    ],
    "statements": [
      80,
      95
    ]
  },
  "exclude": [
    ".ignore",
    "./tests",
    "./src/components/zample",
    "coverage",
    "./api",
    "../bem-perfeito",
    "**/**/types.ts",
    "build.development.js",
    "build.production.js",
    "build.environment.js",
    "web-test-runner.config.js",
    "**/api",
    "decs.d.ts"
  ],
  "include": [],
  "report-dir": "./coverage",
  "cache": false,
  "source-map": true,
  "produce-source-map": true
}